@font-face {
    font-family: Titles;
    src: url(../fonts/Yeseva_One/YesevaOne-Regular.ttf);
}

@font-face {
    font-family: Text;
    src: url(../fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf);
}

$Principal: #A3928B;
$Details: #847872;
$Featured: #544C47;
$Red: #8B1818;
